<h1>О программе</h1>
<p>
  	Это пример приложения для учебника
	<a href="http://www.railstutorial.org/">
		<em>Ruby on Rails Tutorial.</em>
	</a>
	<br> 
	Следующая
	<a href="http://www.railstutorial.org/book">книга</a> 
		и
  	<a href="http://screencasts.railstutorial.org/">
  		серия кринкастов
    </a> 
  	обучают веб-разработке в среде
  	<a href="http://rubyonrails.org/">
  		Ruby on Rails.
  	</a>
</p>